@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.text');
  background: theme('colors.background');
  font-family: theme('fontFamily.body');
}

h1 {
  font-size: theme('fontSize.5xl');
  font-weight: theme('fontWeight.bold');
}

h2 {
  font-size: theme('fontSize.4xl');
  font-weight: theme('fontWeight.bold');
}

h3 {
  font-size: theme('fontSize.3xl');
  font-weight: theme('fontWeight.bold');
}

h4 {
  font-size: theme('fontSize.2xl');
}

p {
  font-size: theme('fontSize.xl');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
